<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="fr">
<title>La vraie Ligue 1</title>
<head> 
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
  <div id="page">
    <div id="centercontent">
      {% block centercontent%}
      {% endblock %}
    </div>

    <br style="clear:both"> 
    <div id="footer" align="center">
    </div>
                                              
</body>
</html>

